# TASK-1  Data Cleaning and Preprocessing

# Importing libraries

In [1]:
#importing necessary libraries
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

# Loading dataset

In [2]:
#load dataset
df = pd.read_csv('sales-dataset.csv')

In [3]:
#display first five rows
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [4]:
#display last five rows
df.tail()

        TV  Radio  Newspaper  Sales
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

# Cleaning the data

In [5]:
df.shape

(200, 4)

In [6]:
#checking for null values
df.isnull().sum()

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

In [7]:
#check for duplicates
df.duplicated().sum()

0

In [8]:
#Remove duplicates if any
df = df.drop_duplicates()

In [9]:
#Rename columns to lowercase with underscores (already clean, but let's make it consistent)
df.columns = df.columns.str.lower()

In [10]:
#Some basic statistical analysis about the data
df.describe()

               tv       radio   newspaper       sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   15.130500
std     85.854236   14.846809   21.778621    5.283892
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   11.000000
50%    149.750000   22.900000   25.750000   16.000000
75%    218.825000   36.525000   45.100000   19.050000
max    296.400000   49.600000  114.000000   27.000000

# Saving the cleaned dataset

In [11]:
df.to_csv('cleaned_sales_dataset.csv', index=False)